[INPUT]

[fit_settings]
# half-width of the fitting window, which defines how many pixels to use for each line fit
fitwidth = 8
# which function to use for the least_squares fit? Must be one of the ones callable in wavecalLib
fitfunction = fgauss_const
# Should we attempt to subtract the inter-line background/continuum? This is really important for the LFC, but it is unclear what it does for the etalon.
subtractcontinuum = True
# Should we use the variance values reported by the HPF pipeline to weight the fit? Including these introduces complications, so beware if turning it on.
usevariance = False

[path_settings]
# Outdir - This defines where the output files go. Update this whenever you re-run, unless you want to overwrite your previous results
outdir = /Users/rterrien/Research/NEID/drift_measure/test/
outdir_slim = /Users/rterrien/Research/NEID/drift_measure/test/
# The masterfiles are a set of reference locations so the fitter knows where to look for each line. Shouldn't need to change these unless you move to a different machine.
# master_peak_locs = /data1/HPF/etalon/masks/hpf_etalon_mask_post_aug_Slope-20181003T121002_R01.optimal.npy
# master_wavecal = /data1/HPF/etalon/wFC_LFC_FCUnCal_MornSept15to30.optimal.fits
# master_peak_locs = /Users/rterrien/Research/NEID/drift_measure/data/neid/lfc_peaks_cal.npy
# master_peak_locs = /Users/rterrien/Research/NEID/drift_measure/data/neid/etalon_peaks_cal.npy
# master_wavecal = /Users/rterrien/Research/NEID/drift_measure/data/neid/neidMaster_HR_Wavelength20221214_v001.fits
# master_peak_locs = /Users/rterrien/Research/NEID/drift_measure/data/hpf/hpf_lfc_peaks_cal.npy
master_peak_locs = /Users/rterrien/Research/NEID/drift_measure/data/hpf/hpf_etalon_peaks_cal.npy
master_wavecal = /Users/rterrien/Research/NEID/drift_measure/data/hpf/wFC_LFC_FCUnCal_MornSept15to30.optimal.fits

[source_settings]
# LFC or Etalon - which source to do the fitting for? We will primarily look at the Etalon for now
# desire is to only use this for file naming and organization
source = Etalon
fiber = CAL

[wavecal_settings]
# master or current - this controls how the line fit centers (natively in pixel space) are translated to wavelength
# if master, a single fixed pixel-to-wavelength mapping is used. if current, the pixel-to-wavelength mapping in the individual spectrum itself is used.
wavecalmode = current

[storage_settings]
# The output files can get unwieldy, so we have to option to save either the full fit results (the outputs are about as big as the input spectra) or a slim version
# which only has the bare essentials.
save_full = True
save_slim = True
save_slim_arr = True
